{
  "ignoreFiles": ["**/*.js", "**/*.jsx"],
  "extends": ["stylelint-config-airbnb"],
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-z-index-value-constraint"
  ],
  "rules": {
    "indentation": 2,
    "color-hex-case": "lower",
    "max-empty-lines": 2,
    "max-nesting-depth": 3,
    "string-quotes": "single",
    "selector-max-id": 1,
    "value-list-comma-space-after": "always",
    "selector-list-comma-newline-after": "never-multi-line",
    "declaration-block-semicolon-newline-after": "always",
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-no-empty": true,
    "comment-no-empty": true,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["contain", "appearance", "/^font-/"]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": ["after-comment"],
        "ignoreAtRules": ["else"],
        "except": ["blockless-after-blockless", "first-nested"]
      }
    ],
    "custom-property-empty-line-before": [
      "always",
      {
        "except": ["after-custom-property", "first-nested"]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "except": ["after-single-line-comment", "first-nested"]
      }
    ],
    "order/properties-alphabetical-order": true,
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations",
      { "type": "at-rule" }
    ],
    "plugin/z-index-value-constraint": {
      "min": 0,
      "max": 5
    }
  }
}
